header, aside, main, footer, section {
    border: 1px solid black;
    text-align: center;
}

header{
    padding: 3%;
}

aside{
    float: left;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 23%;
    padding-bottom: 3%;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
    
}

main{
    float: right;
    margin-top: 3%;
    margin-right: 43%;
  padding: 10%;
   
}


section{
    float: left;
    margin-top: 3%;
    margin-right: 43%;
}

footer{
    margin-top: 33%;
    padding: 2%;
    margin-right: 2%;
}